
* {
    margin: 0;
    padding: 0;
    outline: none;
/ /
}

html {
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-family: "Segoe U", Arial, sans-serif;
    font-size: 1em;
}

a {
    color: blueviolet;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}

a:hover {
    color: black;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
}

.img-wrap {
    position: relative;
}

.img-wrap #btn1 {
    position: absolute;
    align-content: center;
    left: 40%;
    bottom: 50%;
    width: 5%;
}

.img-wrap #btn2 {
    position: absolute;
    align-content: center;
    left: 50%;
    bottom: 50%;
    width: 10%;
}

.img-wrap #inputname {
    position: absolute;
    align-content: center;
    left: 40%;
    bottom: 70%;
    width: 20%;
}

/*Slider up*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.img-wrap #playcaption {
    position: absolute;
    align-content: center;
    left: 45%;
    bottom: 60%;
    color: white;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}